a {
    text-decoration: none;
    color: #353535;
}

h1 {
    text-align: center;
}

#map {
    height: 800px;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-areas: auto;
    grid-gap: 20px;
    width: 80%;
    margin: auto;
}

.header {
    grid-area: 'header';
    margin: auto;
    width: 100%;
}

.main {
    grid-area: 'main';
}

.row-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'grid-image grid-text';
    grid-template-columns: 100px auto;
    width: 80%;
    margin: auto;
}

.grid-image {
    grid-area: 'grid-image';
}

.grid-text {
    grid-area: 'grid-text';
}

.property-form {
    background-color: #f4f7f8;
    max-width: 500px;
    margin: 10px auto;
    padding: 10px 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.property-form input[type="text"], textarea {
    
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.property-form label {
    display: block;
    margin-bottom: 8px;
}

.property-form input[type="radio"], input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

.property-form button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

.property-form fieldset {
    border: none;
}

.listing-row {
    border: 2px solid #e7ff8c;
    border-radius: 10px;
    
}