a {
    text-decoration: none;
    color: #353535;
}

#map {
    height: 800px;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-areas: auto;
    grid-gap: 20px;
    width: 80%;
    margin: auto;
}

.header {
    grid-area: 'header';
    margin: auto;
}

.main {
    grid-area: 'main';
}

.row-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'grid-image grid-text';
    grid-template-columns: 100px auto;
    width: 80%;
    margin: auto;
}

.grid-image {
    grid-area: 'grid-image';
}

.grid-text {
    grid-area: 'grid-text';
}