{% extends "main.html" %}
{% block content %}
	{% for property in properties %}
			<a href={{url_for('showProperty', property_id = property.id)}}>
				<div class="row-container listing-row">
					<img src="https://maps.googleapis.com/maps/api/streetview?location={{ property.addressStreet }} {{ property.addressCity }}&size=100x100" class="grid-image">
				    <div class="grid-text">
					    <h2>{{ property.addressStreet }}</h2>
					    <h3>price: ${{ '{:20,.2f}'.format(property.price) }}</h3>
			    	</div>
				</div>
		    </a>
	{% endfor %}
	</br>
	<a href={{url_for('addProperty')}}>add new property</a>
	</br>
	<a href={{url_for('propertyMap')}}>show map</a>
{% endblock %}
